<div id="password-form-container" class="modal d-block">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modifier votre mot de passe</h5>
        </div>
        <div class="modal-body">
            <form id="form-profil" method="post" data-form-type="password">
            <div class="mb-3">
                <label for="new-password" class="form-label">Nouveau mot de passe</label>
                <input
                type="password"
                class="form-control"
                data-field="password"
                id="new-password"
                name="newPassword"
                required
                />
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirmer le mot de passe</label>
                <input
                type="password"
                class="form-control"
                data-confirm="password"
                id="confirm-password"
                name="confirmPassword"
                required
                />
            </div>
            <div id="error-message" class="error-message"></div>
            <button type="reset" class="btn btn-danger">Annuler</button>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
            </form>
        </div>
        </div>
    </div>
</div>  