<div id="youtube-form-container" class="modal d-block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modifier votre compte Youtube</h5>
        </div>
        <div class="modal-body">
          <form id="form-profil" method="post"data-form-type="youtube">
            <div class="mb-3">
              <label for="new-youtube" class="form-label">Compte Youtube</label>
              <input
                type="text"
                class="form-control"
                id="new-youtube"
                name="newYoutube"
                placeholder="Nom de votre chaîne"
                required
              />
            </div>
            <button type="reset" class="btn btn-danger">Annuler</button>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  