<main id="main-index">
    <section id="text-top" class="text-center">
        <p >Bienvenue sur Projet Orpheus, pour commencer :</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam error explicabo nemo vel molestiae aspernatur eos quis quibusdam, nostrum a ipsa! Laboriosam sequi accusantium, sit nisi aperiam voluptatibus consectetur cupiditate.</p>
    </section> 

    <section class="container">
        <div class="row">
            <article class="col-md-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat velit perspiciatis aliquid id saepe atque necessitatibus natus, nulla repellendus assumenda animi illo minus pariatur omnis ratione eius voluptate cum officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, mollitia corrupti? Sunt consequuntur, suscipit ullam accusantium facere vel at quis nemo vitae eligendi, aperiam, id qui architecto! Omnis, excepturi quaerat.</p>
            </article>
            <article class="circles col-md-4" id="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </article>
            <article class="col-md-4">

            </article>
        </div>
    </section>
    <div id="text-circles">
        <p>Bonjour, <%= user.userName %></p>
    </div>
    <section id="index-bottom">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi autem tempora minus enim asperiores, laboriosam quidem quasi quae rem nam, deleniti corrupti. Laborum dolor nesciunt, eligendi delectus vero ducimus error?
            Labore officiis repellendus cum corrupti molestias soluta rerum illo? Fugiat, exercitationem id voluptatem illo quia nihil veniam sit earum, incidunt enim aperiam ad explicabo magnam adipisci? Saepe quis cum numquam.
            Porro sint unde, eius neque ducimus harum distinctio voluptatibus iusto nemo consectetur laboriosam quos reprehenderit maiores doloremque repudiandae incidunt quis quas ipsum ipsam nulla, reiciendis eum adipisci temporibus? Reiciendis, id?

        </p>
    </section>
    
</main>